* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: black grey;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: black;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
    border: 1px solid rgb(58, 58, 58);
  }

@import "variables","views","components";