* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.layout {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  padding-top: 115px;
  min-width: 300px;
  overflow-x: scroll;
  color: white;
}
@media (min-width: 600px) {
  .layout {
    padding-left: 250px;
    padding-top: 0px;
    min-width: 600px;
  }
}
@media (min-width: 800px) {
  .layout {
    padding-left: 300px;
  }
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.start {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.start__leftBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  background-color: rgb(20, 20, 20);
  background-position: center;
  color: white;
}
.start__rightBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  padding: 20px;
  background-color: rgb(104, 104, 104);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100px;
  background-color: rgb(20, 20, 20);
  color: #F5F8FA;
  position: fixed;
  top: 0;
  z-index: 5;
}
@media (min-width: 600px) {
  .menu {
    flex-direction: column;
    height: 100vh;
    width: 200px;
    left: 0;
    padding: 10% 0;
    min-height: 300px;
  }
}
@media (min-width: 800px) {
  .menu {
    height: 100vh;
    width: 300px;
  }
}
.menu__title {
  flex: 1;
  display: none;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  .menu__title {
    display: flex;
  }
}
.menu__list {
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
  align-content: center;
  flex: 9;
  list-style: none;
}
@media (min-width: 600px) {
  .menu__list {
    flex-direction: column;
  }
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  cursor: pointer;
}
.menu a {
  text-decoration: none;
  list-style: none;
  color: white;
}
.menu a:hover {
  color: #232323;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.login__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.login__form img {
  width: 100px;
  height: 100px;
}
.login__form p {
  margin: 4px 0;
}
.login__form p button {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
}
.login__input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: #F5F8FA;
  color: #00c4ff;
  margin: 4px 0;
  padding: 3px 10px;
}
.login__submit {
  display: flex;
  width: 100%;
  padding: 3px 3px;
  justify-content: center;
  align-self: end;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  background-color: #F5F8FA;
  color: #00c4ff;
  font-weight: bold;
  cursor: pointer;
}
@media (min-width: 400px) {
  .login {
    width: 300px;
  }
}

.postCreator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 15vh;
}
@media (min-width: 600px) {
  .postCreator {
    margin-top: 20px;
  }
}
.postCreator__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 300px;
  height: auto;
  padding: 6px;
  border: 1px solid rgb(24, 24, 24);
  border-radius: 10px;
  background-color: #232323;
}
@media (min-width: 400px) {
  .postCreator__form {
    width: 400px;
  }
}
@media (min-width: 600px) {
  .postCreator__form {
    width: 400px;
  }
}
@media (min-width: 1050px) {
  .postCreator__form {
    width: 600px;
  }
}
.postCreator__title {
  width: 100%;
  height: 40px;
  padding: 3px;
  margin-top: 6px;
}
.postCreator__image {
  width: 100%;
  height: 40px;
  padding: 3px;
  margin-top: 6px;
}
.postCreator__description {
  width: 100%;
  height: 150px;
  padding: 3px;
  margin-top: 6px;
}
.postCreator__button {
  width: 100%;
  height: 40px;
  padding: 3px;
  margin-top: 6px;
  cursor: pointer;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: white;
  background-color: #232323;
  border-radius: 10px;
  border: 1px solid rgb(27, 27, 27);
  padding: 6px;
  margin: 10px 0;
}
@media (min-width: 400px) {
  .post {
    width: 400px;
  }
}
@media (min-width: 600px) {
  .post {
    width: 400px;
  }
}
@media (min-width: 1050px) {
  .post {
    width: 600px;
  }
}
.post__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.post__title {
  width: 80%;
}
.post__options {
  width: 10%;
  justify-content: end;
}
.post__date {
  color: rgb(71, 71, 71);
}
.post__image {
  margin: 5px 0;
}
.post__description {
  margin: 5px 0;
}
.post ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  height: 2em;
  line-height: 2em;
  text-align: center;
  z-index: 3;
  cursor: pointer;
}
.post ol:hover {
  color: gray;
}
.post ol > li > ul > li {
  border-radius: 5px;
  background-color: gray;
  margin: 3px 0;
  color: white;
  font-size: small;
}
.post ol > li > ul > li :hover {
  background-color: gray;
}
.post ol > li > ul {
  list-style-type: none;
}

.ProfileDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ProfileDetails__header {
  display: flex;
  background-color: rgb(55, 55, 55);
  height: 300px;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}
.ProfileDetails__header-icon {
  display: flex;
  position: absolute;
  height: 200px;
  width: 200px;
  bottom: -100px;
  border-radius: 50%;
  background-color: rgb(84, 84, 84);
  overflow: hidden;
}
.ProfileDetails__header-icon img {
  width: 100%;
  height: 100%;
  text-align: center;
}
.ProfileDetails__section {
  padding-top: 150px;
}
.ProfileDetails__section-name {
  display: flex;
  width: 100%;
  height: auto;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.userList {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.userItem {
  display: flex;
  width: 100%;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(39, 39, 39);
  margin: 5px 0;
  border-radius: 10px;
  padding: 0 10px;
}
@media (min-width: 400px) {
  .userItem {
    width: 400px;
  }
}
@media (min-width: 600px) {
  .userItem {
    width: 400px;
  }
}
@media (min-width: 1050px) {
  .userItem {
    width: 600px;
  }
}
.userItem__button {
  width: 100px;
  border-radius: 3px;
  height: 100%;
  border: none;
  background-color: rgb(20, 20, 20);
  color: rgb(255, 0, 0);
  cursor: pointer;
}

.messageBox {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding-top: 100px;
  bottom: 0;
  left: 0;
  border: 1px solid rgb(37, 37, 37);
}
.messageBox__header {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(37, 37, 37);
  padding-right: 100px;
}
.messageBox__header-button {
  height: 100%;
  width: 100px;
  background-color: rgb(20, 20, 20);
  border: 1px solid rgb(37, 37, 37);
  border-radius: 40px;
  cursor: pointer;
  color: rgb(255, 0, 0);
  margin: 0 5px;
}
.messageBox__messages {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
}
.messageBox__messages-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: scroll;
}
.messageBox__form {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
}
.messageBox__form-text {
  height: 100%;
  width: 85%;
  cursor: pointer;
  padding: 0 10px;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 40px;
  background-color: rgb(20, 20, 20);
  color: white;
}
.messageBox__form-button {
  height: 100%;
  width: 100px;
  background-color: rgb(20, 20, 20);
  border: 1px solid rgb(37, 37, 37);
  border-radius: 40px;
  cursor: pointer;
  color: white;
  margin: 0 5px;
}
@media (min-width: 600px) {
  .messageBox {
    padding-left: 200px;
    padding-top: 0px;
  }
}
@media (min-width: 800px) {
  .messageBox {
    padding-left: 300px;
  }
}

.userMessage {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
  margin: 5px 0;
  align-self: flex-end;
}
.userMessage div {
  background-color: rgb(43, 32, 82);
  border-radius: 40px;
  padding: 10px;
}
.userMessage p {
  display: flex;
  align-self: flex-end;
  padding: 0 10px;
  color: rgb(83, 83, 83);
  font-size: small;
}

.friendMessage {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
  margin: 5px 0;
  align-self: flex-start;
}
.friendMessage div {
  background-color: rgb(43, 43, 43);
  border-radius: 40px;
  padding: 10px;
}
.friendMessage p {
  display: flex;
  align-self: flex-start;
  padding: 0 10px;
  color: rgb(83, 83, 83);
  font-size: small;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(20, 20, 20) grey;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(63, 63, 63);
  border-radius: 10px;
  border: 1px solid rgb(20, 20, 20);
}/*# sourceMappingURL=main.css.map */