.layout {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 100vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    padding-top: 115px;
    min-width: 300px;
    overflow-x: scroll;
    color: white;

    @media (min-width: 600px) {
        padding-left: 250px;
        padding-top: 0px;
        min-width: 600px;
    }

    @media (min-width: 800px) {
        padding-left: 300px;
    }
}